{% extends 'private/base.html' %}

{% block main %}
<link rel="stylesheet" href="static/css/leaderboard.css">
<div class="hackathons-container" id="hackathons-container">
</div>
<div class="leaderboard-container">
    <div class="time-period">
        <a href="/home?time_period=month" class="time-period-link {% if time_period == 'month' %}active{% endif %}">This Month</a>
        <a href="/home?time_period=year" class="time-period-link {% if time_period == 'year' %}active{% endif %}">This Year</a>
        <a href="/home?time_period=all_time" class="time-period-link {% if time_period == 'all_time' %}active{% endif %}">All Time</a>
    </div>
    <div class="leaderboard">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Reputation</th>
                    <th class="mobileHidden">Participations</th>
                    <th class="className mobileHidden">Roll Number</th>
                </tr>
            </thead>
            <tbody>
                {% for user in (leaderboard) %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td class="flex-td"><img src="{{ user['account_information']['avatar_url'] }}" alt="{{ user['account_information']['login'] }}"><a class="className" href="https://github.com/{{ user['account_information']['login'] }}" target="_blank">{{ user['student_information']['student_name'] }}</a></td>
                    <td>{{ user['points'] }}</td>
                    <td class="mobileHidden">{{ user['participations'] }}</td>
                    <td class="mobileHidden">{{ user['student_information']['student_university_id'] }}</td>
                </tr>
                {% endfor %}
    </div>
{% endblock %}