.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #1E1E1E;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 300px;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: .9rem;
  width: 100%;
}

.search-container input::placeholder {
  color: #FFF;
}

.search-container input:focus {
  outline: none;
}

.search-container svg {
  width: 20px;
  cursor: pointer;
  background-color: transparent;
}

.header-container a {
  display: flex;
  align-items: center;
  font-size: .9rem;
  text-decoration: none;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.add-hackathon-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
  cursor: pointer;
  gap: 10px;
}

.add-hackathon-container a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: .9rem;
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  background-color: #1E1E1E;
}

.add-hackathon-container a svg {
  width: 20px;
  cursor: pointer;
  background-color: transparent;
}

.hackathons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hackathon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
}

.hackathon-container h2 {
  font-size: 1.5rem;
}

.hackathon-container p {
  font-size: .9rem;
  width: 100%;
}

.hackathon-metadata-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.hackathon-metadata-container p, .hackathon-metadata-container a {
  font-size: .8rem;
  display: flex;
  align-items: center;
  width: calc(50% - 5px);
}

.hackathon-metadata-container p svg, .hackathon-metadata-container a svg {
  margin-right: 5px;
  width: 20px;
}

.hackathon-metadata-container a.hackathon-website-url {
  text-decoration: none;
}

.hackathon-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.hackathon-actions-container a svg {
  width: 20px;
  cursor: pointer;
}

.modals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: none;
}

.open-modals-container {
  display: flex;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #1E1E1E;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  position: relative;
  max-width: 400px;
  width: 100%;
  overflow-y: auto;
  display: none;
}

.open-modal-container {
  display: flex;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.modal-header h2 {
  font-size: 1.5rem;
  background-color: transparent;
}

.modal-header svg {
  width: 20px;
  cursor: pointer;
  background-color: transparent;
}

.modal-body {
  background-color: transparent;
}

.error-message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  margin-bottom: 20px;  
}

.error-message-container p {
  font-size: .9rem;
  color: #FF0000;
  background-color: transparent;
}

.error-message-container p a {
  color: #FF0000;
  background-color: transparent;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
}

.modal-body form label {
  font-size: .9rem;
  background-color: transparent;
}

.modal-body form input, .modal-body form textarea {
  background-color: transparent;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  padding: 10px 10px;
  color: #FFF;
  margin-bottom: 10px;
}

.modal-body form input::placeholder, .modal-body form textarea::placeholder {
  color: #FFF;
}

.modal-body form input:focus, .modal-body form textarea:focus {
  outline: none;
}

.modal-body form button {
  background-color: #000000;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
}

#report-hackathon-form label {
  font-size: .9rem;
}

#report-hackathon-form select {
  background-color: transparent;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  padding: 10px 10px;
  color: #FFF;
  margin-bottom: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23e8eaed'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
}

#report-hackathon-form textarea {
  height: 100px;
}

.logout-link-mobile {
  display: none !important;
}


/* Mobile Styles */

@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    gap: 10px;
  }

  #github-link {
    display: none;
  }

  .logout-link {
    display: none !important;
  }

  .search-container {
    min-width: calc(100% - 150px);
  }

  .project-info-container p {
    width: 100%;
    font-size: .9rem;
  }

  .add-hackathon-container {
    justify-content: flex-end;
  }

  .hackathon-metadata-container p, .hackathon-metadata-container a {
    width: 100%;
  }

  .hackathon-metadata-container p, .hackathon-metadata-container a {
    width: 100%;
  }

  .modal-container {
    max-width: 100%;
  }

  p,a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}
